$primary-color: #2BD17E !important;
$error-color: #EB5757 !important;
$background-color: #093545 !important;
$input-color: #224957 !important;
$card-color: #092C39 !important;
$white-color: #FFFFFF !important;


